body {scrollbar-arrow-color:#505050; scrollbar-base-color:#e5e5e5; scrollbar-shadow-color:#e5e5e5; scrollbar-face-color:#E5E5E5; scrollbar-highlight-color:#efefef; scrollbar-darkshadow-color:#BABABA; scrollbar-3d-light-color:#bababa; background-color:#F5F5F5; margin:0; padding:0; height:100%;}
body,
div,
td {color:black; font-size:11px; font-family: Arial;}
a {color: #1C8CD1; text-decoration: none;}
a img {border: 0px;}
input,
td,
textarea {font:menu; color:#036;}
input { padding-left: 5px;}
input.serviceomatic {border: 1px solid #AAA;}
.action_button,
.delete_button,
.cancel_button {margin:0; padding:5px 50px; border:1px solid #333; font:bold 13px Arial,sans-serif; cursor:pointer; border-radius:3px; box-shadow:0px 1px 2px #fff;}
.action_button {background:#cfc; color:#090; border-color:#090;}
.action_button:hover {background-color:#3c3; color:#fff;}
.delete_button {background:#F2D7D3; color:#900; border-color:#900;}
.delete_button:hover {background-color:#F89588; color:#fff;}
.cancel_button {background:#ddd; border-color:#999; }
.cancel_button:hover {background-color:#bbb; color:#fff;}
#actions {margin:20px 0 30px 20px; width:95%}
#actions td {white-space:nowrap;}
#actions .button-wrapper {padding-right:29px; border-right:1px solid #ddd; margin-right:30px;}
#actions select {margin-right:10px; padding:5px; border-width:1px; border-radius:3px; }
#actions img {vertical-align:bottom;}
.label {color:black;}
.normal {height:25px; background:#ffffff; vertical-align:middle; text-align:left; border:0px; margin:0 5px 0 5px}
.help {font-size: xx-small; color: gray;}
.mandatory {color: red; font-weight: bold; vertical-align: bottom;}
.imgBox {overflow: hidden; display: block; width: 100%; height: 25px; position: relative}
.imgBox img {position: absolute; top: 0; left: 0; width: 100%;}
form h5 {margin:10px 0 0;}
form label {margin-right:8px; padding:4px 2px; cursor:pointer;}
form label:hover {background-color:#fff; color:#06f;}
form label input {vertical-align:sub;}
form fieldset {margin-bottom:10px; border:1px solid #ccc;}
form fieldset legend {font-weight:bold; color:#39f;}
form .tree-select {font-family:monospace;}
#formHeader {width:100%; height:41px; background-color:#F5F5F5; background-image:url(images/lineaHeader.gif); background-repeat:repeat-x; margin:0px; padding:4 0 0 25px; color:#3A3A3A; font-family:Arial; font-size:xx-small;}
#formHeader h4 {color:white; font-family:Arial; font-size:medium; padding:0; margin:0;}
#debug{font-size: xx-small; 	font-family: verdana,lucida,helvetica,arial,sans-serif;}
#treeBody {background: #F5F5F5 url(images/treebg.gif) no-repeat center bottom;}
#tree {font: 10px/1.1em menu, verdana; }
#mainTable {margin: 0px; width: 100%; position: relative}

#mainTable th {border:1px outset #f0f0f0; background:#CDCDCD url('img/tool_sfondo.png') repeat-x 0 50%; line-height:28px; font-size:12px; font-weight:normal;}
#mainTable th span {display:block; margin:0 4px; padding-left:16px; background: url('img/tool_zigrinatura.png') no-repeat 0 50%;}
#mainTable th a {display:block; cursor:help; white-space:nowrap; zoom:1;}
#mainTable th a:hover {border-color:9DB0BC; background:#DDEBF5 url('img/tool_sfondo_hover.png') repeat-x 0 50%; color:#033;}
#mainTable th a img {border:none; vertical-align:middle;}
#mainTable td {vertical-align:middle; border:none; color: #036; text-align:center; /*line-height:28px;*/}
#mainTable td.row00 {background-color:#ffffff;}
#mainTable td.row01 {background-color:#f5f7fd;}
#mainTable td.row10 {background-color:#f4f4f4;}
#mainTable td.row11 {background-color:#e1e8ff;}
#mainTable tr.marked td.row00 {background-color:#ffedd2;}
#mainTable tr.marked td.row01 {background-color:#ffdba2;}
#mainTable tr.marked td.row10 {background-color:#fae1a9;}
#mainTable tr.marked td.row11 {background-color:#fccb85;}
#mainTable a.button {display:block; padding:7px 4px;}
#mainTable a.button:hover,
#mainTable td.rowsel {background-color:#F5FFC4;}
#mainTable a.button img {border:none; vertical-align:middle;}
#mainTable td.rowsel {cursor:text;}

#mainTable a.preview {display:block; height:25px; background-repeat:no-repeat; background-position:50% 50%; cursor:help;}
#mainTable a.preview:hover {margin:-2px; border:2px solid #F5FFC4;}
#mainTable a.preview span {display:block; height:21px; color: white; text-shadow: 1px 1px 2px #000000; filter: dropshadow(color=#000000, offx=1, offy=1);
}
div#popupbox {display:none; padding:1px; border:1px outset #06c; background-color:#fff;}
div#popupbox img {display:block; max-width:300px; }

p.selezione {padding:0 21px;}
#iconbox {padding:10px 0; line-height:20px;}
#iconbox img {padding:4px;}

/* media upload */
.pictag-container {margin: 10px; border: 1px solid lightgray; padding: 10px;  overflow: hidden; }
.picture_result {float: left; margin: 10px; border: 1px solid gray; padding: 2px; text-align: center}
.picture_result table {font-size: 10px; color: gray; width: 150px;}
.picture_result td {text-align: left; font-weight: bold; background: white;}
.picture_result td.label {font-weight: normal; vertical-align: top;}
.picture_result.selected {border: 3px solid #FF4400; padding:0}
#tagsearch {margin: 1em 0; }
#currentpic {margin: 1em auto 2em; border: 1px solid gray; padding: 10px; background: white;}
#currentpic img {margin: 1em auto 2em; }
.left {float: left;}
.clear {clear:both}

/* 
 * SmartCart - jQuery cart plugin 
 * CSS Document
 *   
 * Home Pages:
 * http://fivelist.summerhost.info
 * http://tech-laboratory.blogspot.com
 * http://techlaboratory.wordpress.com
 *  
 * Date: 05-SEP-2009
 * Version: 0.95 beta
 */
body { font : normal 12px Verdana, Arial, Helvetica, sans-serif; color: #0464BB; margin: 0; padding: 0; }
.scContainer { padding: 5px; border: 1px solid #E0E0E0; width: auto; margin: 5px; float: left; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-family : Verdana,Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; position: relative; left: 5%; right: 5%; }
.scTitle { padding: 2px; float: left; font-weight: bold; margin-bottom: 3px; float: left; }
.scBtn { background: #5A5655; color: #FFFFFF; margin: 0 0 10px 0; padding: 1px 5px 1px 5px; text-align: center; border: 1px solid #5A5655; text-decoration       : none; -moz-border-radius    : 5px; -webkit-border-radius : 5px; }
.scBtn:hover { background      : #EA8511; color           : #FFFFFF; border          : 1px solid #EA8511; text-decoration : none; }
.scText { border: 1px solid #E0E0E0; width: 25px; padding : 1px 5px 1px 5px; }
.scText:focus { border: 1px solid #EA8511 }
.scCart { background: #ffffcc; padding: 10px 5px 5px 5px; border: 1px solid #E0E0E0; width: 350px; height: 335px; margin: 5px 0 5px 5px; float: left; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-box-shadow: 1px 1px 3px #000000;-moz-box-shadow: 1px 1px 3px #000000;box-shadow: 1px 1px 3px #000000; }
.scProductList { padding: 10px 5px 5px 5px; border: 1px solid #E0E0E0; width: 350px; height: 335px; overflow: auto; margin: 5px 0 5px 0; float: left; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: url("img/sfondo_right.png") repeat-y scroll 0 0 #F5F5F5; -webkit-box-shadow: 1px 1px 3px #000000;-moz-box-shadow: 1px 1px 3px #000000;box-shadow: 1px 1px 3px #000000; }
.scCartList { position: relative; margin: 0; padding: 1px; /*background: #FFFEE0;*/ /*border: 1px solid #E0E0E0;*/ height: 290px; overflow: auto; }
.scCartListHead { padding: 0; background: #F8F8F8; border: 1px solid #E0E0E0; margin: 1px 0 1px 0; height: 25px; font-weight: bold; }
.scCartListItem { position: relative; margin-left: 0; padding-left: 0; list-style: none; background: rgba(255, 255, 255, .7);; border: 1px solid #E0E0E0; margin: 1px 0 0 0; line-height: 1em; }
.scCartListItem:hover { background-color: #e5e5e5 }
.scProductListItem { width: auto; margin: 1px; background: rgba(255, 255, 255, .7); overflow: hidden; padding: 10px; /*12px 0px 2px 5px: ; */    : ; color: #0464BB; text-align: left; border: #E0E0E0 solid 1px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.scProductListItemImg { float: left; margin-right: 10px;}
.scProductListItemInfo {margin-bottom: 10px; width: 147px}
.scProductSelect { display: none; visibility: hidden; }
.scULList { margin: 0.25em 0 1em 0; position: relative; display: block; padding-left: 0; list-style: none; }
.scListItemLabel { padding: 5px; display: block; }
.scListItemRemove { position: absolute; right: 0; top: 6px; background            : #5A5655; color                 : #FFFFFF; margin                : 0; padding               : 1px 5px 2px 5px; text-align            : center; border                : 1px solid #5A5655; text-decoration       : none; -moz-border-radius    : 5px; -webkit-border-radius : 5px; }
.scListItemRemove:hover { background      : #EA8511; color           : #FFFFFF; border          : 1px solid #EA8511; text-decoration : none; }
.scCart h3 { margin:0 0 10px; text-align: center; text-shadow: 1px 1px 2px #ffffff;filter: dropshadow(color=#ffffff, offx=1, offy=1); }

