  body {
    background-color: #F5F5F5;   
    margin: 0px; 
    scrollbar-face-color: #e5e5e5;
    scrollbar-highlight-color: #efefef;
    scrollbar-shadow-color: #e5e5e5;
    scrollbar-arrow-color: #505050;
    scrollbar-base-color: #e5e5e5;
    scrollbar-darkshadow-color: #BABABA;
    scrollbar-3d-light-color: #bababa;
    text-align: center;
    background: #F5F5F5 url(images/syntax.gif) no-repeat center bottom;
    height: 100%;
  } 
  body, div, p, td {
	  font-family: verdana, lucida, helvetica, sans-serif;
	  font-size: xx-small;
  }

  /* NEW RESTILING */
  #toolbarHeader {
    margin: 0px; height: 24px; width: 223px; 
    color: #505050; padding-left: 5px; padding-top: 3px; 
    background-color: #D0D0D0; 
    border: 1px solid #BABABA;
    border-bottom: 2px solid #BABABA;
    border-top: 0px;
  }
  #optionPane {
    margin: 0px;
    position: relative;
    top: 22px;
    left: 0px;
    width: 223px;
    background: white;
    color: black;
    border: 1px solid #BABABA;
  }  

  .box {
    margin: 5px;
    padding: 5px;
    background: #F5F5F5;
    border: 1px solid #BABABA;
    text-align: center;
  }
  .box table {width: 200px}
  #custom {}
  .left {margin: 3px 10px 0 20px; text-align: left;}
  form {margin: 0px;}
  select {width: 100px;}
  a {text-decoration: none;  color: #428BFF; }
  a:hover { color: #73A2FE;}
  a img {border: 0px;}
  p {margin: 3px 0px; padding:0px;}
  
  /*TOOLBAR STYLE*/
  /*.toolbar    {padding:3px 1 1 1;font-family:ms sans serif;font-size:10;cursor:default;height:0;position:absolute;color:#000000;background:#F5F5F5;border-Left:0;border-Right:0;border-Top:1 solid buttonhighlight;border-Bottom:1 solid buttonshadow;}*/
  .toolbar    {padding-top:6px;font-family:ms sans serif;font-size:10;cursor:default;color:#000000;background:#F5F5F5;}
  .menubar    {padding:1 1 1 1;font-family:ms sans serif;font-size:10;cursor:default;height:0;position:absolute;color:#000000;background:window;border:1 solid buttonshadow;}
  .sidebar    {font-family:ms sans serif;font-size:10;cursor:default;height:100%;width:20;background:buttonface;position:absolute;top:0;left:0;}
  .seperator1 {border-Left:1 solid buttonshadow;border-Right:1 solid buttonhighlight;border-Top:1 solid buttonshadow;border-Bottom:1 solid buttonhighlight;height:50%;width:0;}
  .seperator2 {border-Left:1 solid buttonhighlight;border-Right:1 solid buttonshadow;border-Top:1 solid buttonhighlight;border-Bottom:1 solid buttonshadow;height:50%;width:0;}
  .flat       {padding:2 2 2 2;position:relative;width:0;height:0;color:#000000;}
  .raised     {padding:1 1 1 1;cursor: pointer;position:relative;width:0;height:0;border:1 solid #08246B;background:#B5BED6;color:#000000;}
  .raised2    {padding:1 1 1 1;position:relative;width:0;height:0;border:1 solid #08246B;background:#B5BED6;color:#000000;}
  .pressed    {padding:1 1 1 1;position:relative;width:0;height:0;border:1 solid #08246B;background:#8492B5;color:#000000;}
  .pressed2   {padding:1 1 1 1;position:relative;width:0;height:0;border:1 solid #08246B;background:#8492B5;color:#000000;}
  .disabled   {padding:2 2 2 2;position:relative;width:0;height:0;color:graytext;filter:gray() alpha(opacity=20);}
  .icons      {position:relative;width:16;height:16;cursor:pointer;background:;filter: alpha(opacity=100);}
  .icons2     {width:16;height:16;cursor:pointer;position:relative;top:-1;left:-1;background:;filter:DropShadow(Color=ButtonShadow,OffX=3,OffY=2) alpha(opacity=100)}
  .boxed      {font-family:ms sans serif;font-size:10;cursor:default;height:0;position:absolute;color:#000000;background:window;border:1 solid buttonshadow;z-index:1000;}
  .textBox    {font-family:ms sans serif;font-size:10;cursor:default;position:absolute;}
  .textBox2   {font-family:ms sans serif;font-size:10;cursor:default;}
  .shadow     {position:absolute;background:black;filter:blur(add=0,direction=275,strength=8) alpha(opacity=50)}
  .txtarea    {padding:2 2 2 2;background:window;color:#000000;overflow:auto;border-Left:1 solid buttonshadow;border-Right:1 solid buttonhighlight;border-Top:1 solid buttonshadow;border-Bottom:1 solid buttonhighlight;font-family:ms sans serif;font-size:10;}
  .txtarea2   {padding:2 2 2 2;background:buttonface;overflow:auto;}

  input.action_button {background-color: #D14B1C; color: white; width: 150px; font-weight: bold;}
  .currentFlag {height: 15px;padding: 1px; border: 1px solid black;}  