html,
button,
input,
select,
textarea {color:#222;}
::-moz-selection {background:#b3d4fc; text-shadow:none;}
::selection {background: #b3d4fc; text-shadow:none;}
a {text-decoration:none; color:#09c;}
a:hover {color:#09f;}
a:focus,
a:active {outline:none;}
hr {display:block; margin:1em 0; border:0; border-top: 1px solid #ccc; padding:0; height:1px;}
img {vertical-align:middle;}
fieldset {border:0; margin:0; padding:0;}
button,
select,
textarea,
input[type='text'],
input[type='password'] {display:inline-block; margin:0; padding:4px 9px; border:1px inset #ccc; background-color:#fcfcfc; height:30px; line-height:30px; border-radius:6px; color:#999;}
input[type='text']:focus,
input[type='password']:focus,
select:focus,
textarea:focus {border-color:#09f; border-style:solid; background-color:#fff; color:#333; box-shadow:0 0 10px rgba(0,153,255,0.5); outline:0;}
textarea {max-width:100%; height:auto; resize:vertical;}
button {position:relative; height:40px; border:1px solid #09c; background-color:#09c; color:#fff; box-shadow:1px 1px 0 rgba(255,255,255,0.6) inset;}
button[type='reset'] {border:1px solid #eee; background-color:#ececec; color:#444;}
button:hover,
button:focus {}
button:active {top:1px; box-shadow:0 5px 5px 1px rgba(0, 0, 0, 0.5) inset;}

.clearfix:before,
.clearfix:after {content:" "; display:table;}
.clearfix:after {clear:both;}
.clearfix {*zoom: 1;}
.third,
.fourth,
.fifth {float: left; margin:1% 0 1% 2%;}
.third {width:32%;}
.fourth {width:23.5%;}
.fifth {width:18.39%;}
.third:first-child,
.fourth:first-child,
.fifth:first-child {margin-left:0;}

.row {margin:20px 0;}
.box {padding:20px; background:#fff; border-radius:8px; border-bottom:5px solid #ccc;}
.hero {margin-bottom:30px; padding:10px 60px; font-size:3em; line-height:1; text-align:center;}
.hero strong {color:#09c;}
.hero p {color:#aaa;}
.hero .btn {font-size:.5em;}
.teaser {text-align:center;}
.btn {display:inline-block; padding:5px 15px; background-color:#09c; color:#fff; border-radius:8px; font-weight:bold;}
.btn:hover {background-color:#10a0d5; color:#fff;}
.btn-block {display:block; text-align:center;}
.alert {padding:19px; border:1px solid #edd7ae; background-color:#fcf8e3; color:#ae843b;}
.alert.error {border-color:#c00; background-color:#fce9e3; color:#c00;} 

/* animazioni */
a,
.meta,
.follow,
.item img,
.synform div {
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}


body {background-color:#eee; font:18px/30px 'Open Sans', Helvetica, Helvetica Neue, Arial; color:#333;}
.wrapper {margin:0 auto; max-width:1280px; overflow:hidden;}

.main-header,
.main-section {padding:50px 0;}
.main-header .hgroup {float:left;}
.main-header h1 {margin:0;}
.main-header h2 {margin:0; font-size:1em; font-weight:bold; color:#888;}
.main-header hgroup {float:left;}
.main-header .logo {display:inline-block; padding:10px 15px; background-color:#f48; color:#fff; border-radius:8px;}
.main-header nav {float:right; padding-top:50px;}
.main-header .main-menu {margin:0; padding:0;}
.main-header .main-menu li {display:inline;}
.main-header .main-menu a {display:inline-block; padding:0 15px; background-color:#999; color:#fff; font-weight:bold; border-radius:8px; transition: all ease 0.3s;}
.main-header .main-menu a:hover {background-color:#f48;}
.main-header .main-menu a.active {background-color:#333;}

.breadcrumb {margin-bottom:30px; padding-bottom:9px; border-bottom:1px solid #ddd; font-size:80%;}
.breadcrumb a,
.breadcrumb span {margin:0 5px;}
.breadcrumb span {font-weight:bold;}

.searchform form {position:relative; padding-right:49px;}
.searchform button {position:absolute; top:0; right:0; width:50px; border-radius:0 6px 6px 0;}
.searchform input {display:block; width:100%; height:40px; border-radius:6px 0 0 6px;
-webkit-box-sizing: border-box;
 -khtml-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;  
}

.page-header2 {text-align:center; font-size:2em; line-height:1;}
.page-header2 h1 {margin:0;}
.page-header2 .tagline {margin:0; color:#888;}

.page-footer {clear:both; margin:30px 0; padding:29px 0; border-style:solid; border-color:#ddd; border-width:1px 0;}
.page-footer .searchform {float:right; margin:0; width:25%;}
.page-footer .breadcrumb {margin:0; padding:0; border:none; line-height:40px;}

.main-section {border-bottom:5px solid #ccc; background-color:#fff;}
.main-section .content {float:left; margin-right:25%; padding-right:3.98%; width:71%}
.main-section .sidebar {float:left; margin-left:-25%; width:25%; color:#777;}
.main-section .menu {margin:0 0 30px; padding:0; border-top:1px solid #ddd; list-style:none;}
.main-section .menu a {display:block; padding:5px 20px 4px; border-bottom:1px solid #ddd; color:#09c; font-weight:bold; text-transform:uppercase;}
.main-section .menu a:hover {background-color:#09c; color:#fff;}
.main-section .menu ul {margin:0; border:none;}
.main-section .menu ul a {padding:5px 10px 4px 40px; font-size:75%;}

.item-list {margin:0 0 50px; padding:0; list-style:none;}
.item-list li {padding-top:30px; padding-bottom:29px; border-bottom:1px solid #ddd;}
.item-list h1 {margin:0;}
.item-list .item-subheader {display:block; color:#888; font-weight:bold; font-size:80%;}
.item-list .item-figure {float:left; margin:0 10px; border-radius:200px; border:3px solid #fff; box-shadow:0 0 10px rgba(0,0,0,0.3);}
.item-list .follow {color:#09c; white-space:nowrap;}
.item-list .block {display:block; color:#333;}
.item-list .block:hover .follow {margin-left:2em; text-decoration:underline;}
.item-list .container {margin-left:250px;}
.item-list .meta {position:absolute; top:20px; left:0; padding:10px 20px; background-color:#f48; color:#fff; text-align:center; line-height:20px; border-radius:6px 0 0 6px;}
.item-list .meta strong {display:block;}
.item-list .meta:after {position:absolute; top:0; bottom:0; right:-25px; border-top: 30px solid transparent; border-bottom: 30px solid transparent; border-left: 25px solid #f48; content: "";}
.item-list .download {position:relative; display:block; margin:0; padding:20px 0 20px 160px; background:url('') no-repeat 0 50%; color:#333;}
.item-list .download:hover {background-color:#ffc;}
.item-list .download:hover .meta {left:25px;}
.search-result {display:inline; padding:0 .1em; background-color:rgba(255,255,0,.5); color:#08c; font-weight:bold; box-shadow:1px 1px 3px rgba(0,0,0,.2);}

.gallery-items .item {display:block; padding:4px; border:1px solid #ccc; border-bottom-width:5px; text-align:center; border-radius:6px; outline:none;}
.gallery-items .item h1 {margin:5px 0;}
.gallery-items .item .item-time {display:block; color:#888;}
.gallery-items .item img {display:block; margin:0 auto; max-width:100%; opacity:1;}
.gallery-items .item:hover {border-color:#09c; box-shadow:0 0 8px rgba(0,0,0,.3);}
.gallery-items .item:hover img {opacity:.75;}

.social-share {margin:30px 0; padding:19px 0; height:60px; border-style:solid; border-color:#ddd; border-width:1px 0; text-align:center; font-size:0; word-spacing:50px; line-height:60px;}
.article-figure {margin:30px 10px; padding:9px; border:1px solid #ddd; text-align:center; box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);}
.article-figure img {display:block; margin:0 auto; max-width:100%;}

.pagination {margin:20px 0; text-align:center; word-spacing:5px;}
.pagination span,
.pagination a {display:inline-block; padding:0 10px; border:1px solid #fff;}
.pagination a {border-color:#09c;}
.pagination a:hover {background-color:#09c; color:#fff;}
.pagination .disabled {border-color:#ccc; color:#ccc;}
.pagination .active {background-color:#333; color:#fff;}

.sidebar .box {padding:9px; border:1px solid #ddd; background-color:#eee; border-radius:5px; text-shadow:0 1px 0 #fff;}
.sidebar .box .menu-header {margin:0 0 10px; color:#bbb; font-weight:normal; text-align:center; text-transform:uppercase;}
.sidebar .box .menu {margin:0;}
.sidebar .box .menu a {padding-top:4px; border-top:1px solid #fff;}
.sidebar .box .menu a:hover {text-shadow:0 1px 0 rgba(0,0,0,.2);}
.sidebar .box .menu a.active { background-color:#eee; color:#333; text-shadow:0 1px 0 rgba(0,0,0,.2);}
.sidebar .box .lv1 > li:last-child a {padding-bottom:5px; border-bottom:0;}

.synform {margin:30px 0;}
.synform fieldset {margin:30px 0; border-top:1px solid #ddd;}
.synform legend {padding:0 10px; color:#08c; font-size:90%; font-weight:bold;}
.synform div {position:relative; padding:20px;}
.synform div.focused {background-color:#ffc;}
.synform label {display:inline-block; margin-right:20px; width:30%; color:#666; font-weight:bold; text-align:right;}
.synform label.error {margin:0 0 0 10px; width:auto; color:#c00; font-weight:normal; text-align:left;}
.synform input[type='text'].error,
.synform input[type='password'].error,
.synform select.error,
.synform textarea.error {border-color:#c00; background-color:#fee; color:#c00;}
.synform .error:focus {box-shadow:0 0 10px rgba(204,0,0,.5); !important;}
.synform .button-wrap {padding-top:19px; border-top:1px solid #ddd; text-align:right;}
.synform .button-wrap button {padding:4px 19px;}
.synform .button-wrap button[type='reset'] {float:left;}
.synform .button-wrap button[type='submit'] {margin:-5px 0; height:50px; font-size:120%;}

.main-footer {position:relative; padding:0 0 50px; text-shadow:1px 1px 0 #fff;}
.main-footer a {display:block; padding:10px; color:#333; border-radius:6px;}
.main-footer a .follow {color:#09c;}
.main-footer a:hover {background-color:#fff;}
.main-footer a:hover .follow {margin-left:25px;}
.main-footer a h4 {margin:.5em 0;}
.main-footer a p {clear:both; margin:.5em 0; font-size:90%;}
.main-footer .cal-icon {float:left; margin-right:10px; padding:1px; background-color:#09c; color:#fff; font-size:12px; font-weight:bold; line-height:18px; text-align:center; text-transform:uppercase; text-shadow:none;}
.main-footer .cal-icon strong {display:block; padding:0 5px; background-color:#fff; color:#333; font-size:32px; line-height:40px;}
.main-footer .badges {text-align:center;}
.main-footer .copyright {clear:both; padding-top:19px; border-top:1px solid #ddd; color:#aaa; text-align:center;}



@media (max-width:980px){
  .wrapper {margin:0; padding:3%; width:auto;}
  .main-section .content,
  .main-section .sidebar {float:none; margin:1em 0; padding:0; width:auto;}
}

@media (max-width:768px){
  select,
  textarea,
  input[type='text'],
  input[type='password'] {width:100%;}
  .main-header .hgroup {float:none;}
  .main-header nav {float:none; padding-top:0;}
  .main-header .main-menu li {display:block; margin:1em 0;}
  .main-header .main-menu a {display:block;}  
  .hero {font-size:1.5em;}
  .page-header2 {font-size:1.2em;}
  .third,
  .fourth,
  .fifth {float:none; margin:1em 0; width:auto;}
  .item-list .item-figure {display:block; float:none; margin:0 auto 2em;}
  .item-list .container {margin:0;}
  .page-footer .searchform {display:block; float:none; width:auto;}
  .synform label {display:block; width:auto; text-align:left;}
  .synform div {padding-left:0;}
}