<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><title>Il tuo indirizzo email su %%site_name%%</title></head>
<body>
<div style="max-width: 800px; margin: 0; padding: 30px 0;">
<table width="80%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="5%"></td>
<td align="left" width="95%" style="font: 13px/18px Arial, Helvetica, sans-serif;">
<h2 style="font:normal 20px/23px Arial, Helvetica, sans-serif; margin:0; padding:0 0 18px; color:black;">Benvenuto
su %%site_name%%!</h2>
Per convalidare il tuo indirizzo email, ti preghiamo di cliccare il seguente link:<br />
<br />
<big style="font: 16px/18px Arial, Helvetica, sans-serif;"><b><a href="%%activation_url%%"
style="color: #3366cc;">completa la registrazione</a></b></big><br />
<br />
Il link non funziona? Copia il seguente indirizzo e incollalo sulla barra degli indirizzi del tuo browser:<br />
<nobr><a href="%%activation_url%%" style="color: #3366cc;">%%activation_url%%</a></nobr><br />
<br />
Saluti,<br />
lo staff di %%site_name%%
</td>
</tr>
</table>
</div>
</body>
</html>