<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><title>La tua password su %%site_name%%</title></head>
<body>
<div style="max-width: 800px; margin: 0; padding: 30px 0;">
<table width="80%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="5%"></td>
<td align="left" width="95%" style="font: 13px/18px Arial, Helvetica, sans-serif;">
<h2 style="font: normal 20px/23px Arial, Helvetica, sans-serif; margin: 0; padding: 0 0 18px; color: black;">La tua password su %%site_name%%</h2>
Hai cambiato la tua password; ti raccomandiamo di archiviarla e conservarla con cura.<br />
<br />
<br />
<big style="font: 16px/18px Arial, Helvetica, sans-serif; color:#3366cc;">La tua nuova password: <b>%%password%%</b></big><br />
<br />
<br />
Saluti,<br />
lo staff di %%site_name%%
</td>
</tr>
</table>
</div>
</body>
</html>