@font-face {
  font-family: 'square721';
  src: url('../fonts/sqr721e-webfont.eot');
  src: url('../fonts/sqr721e-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sqr721e-webfont.woff2') format('woff2'),
       url('../fonts/sqr721e-webfont.woff') format('woff'),
       url('../fonts/sqr721e-webfont.ttf') format('truetype'),
       url('../fonts/sqr721e-webfont.svg#square721') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding:5px 0;
  background-color: #f5f5f5;
}
.desktop .navbar {
  height:auto; min-height:0; margin:0;
}

#closebutton,
#closeBtn {
  position: absolute;
  right: 10px;
  top: 58px;
  z-index:1000;
}
.navbar-brand.syn-brand,
.navbar-brand.syn-brand:hover {
  color: rgba(0, 0, 0, 0.1);
  font-family: "square721";
  font-size: 20px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -18px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
#main-menu ul .fa {
  color: #09c;
  font-size: 110%;
  text-align: center;
  width: 35px;
}
#main-menu ul a:hover .fa {
  color: #fff;
}
.dropdown-menu.multi-level.l2 a {
  padding: 6px 30px 6px 12px;
}
.table-striped tr.selected td {
    background:#FFFFEE;
}
#optionPane .pagination {margin:5px 0;}
/* LOGIN FORM */
body.desktop,
body.login {
  background-color:#f5f5f5;
  background-image:url('../images/knitting250px.png');
  background-repeat:repeat;
}
body.login1,
body.desktop1 {
  background-image:url('../images/colored_bg.jpg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}
body.right-bar {
  background-color:#f5f5f5;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button {
  font-family: 'square721';
}
.account-wall {
  margin: 40px 0 20px;
  padding: 40px 0px 20px 0px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius:4px;
}
.login-title {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  display: block;
  margin:40px 0 0;
  font-family: 'square721';
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.select-img {
  border-radius: 50%;
  display: block;
  height: 75px;
  margin: 0 30px 10px;
  width: 75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.select-name {
  display: block;
  margin: 30px 10px 10px;
}
.logo-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* END LOGIN FORM */


/* Tree view */
#tree-box {}
ul.nav-tree {margin-left:0; font-size:13px;}
ul.nav-tree ul.nav-tree {margin-left:17px;}
ul.nav-tree li a {padding:4px 20px 4px 17px;}
ul.nav-tree li a.delete-btn {position:absolute; top:0; right:0; margin:0; padding:4px; z-index:1; text-indent:0;}
ul.nav-tree li span.opener {position:absolute; top:4px; left:0px; color:#444; z-index:1; cursor:pointer;}
ul.nav-tree li span.opener.opened span.tree-icon-closed,
ul.nav-tree li span.opener.closed span.tree-icon-opened {display:none}
ul.nav-tree li span.opener.closed span.tree-icon-closed,
ul.nav-tree li span.opener.opened span.tree-icon-open {display:block}
/* END Tree view */
