  
  body {
    border: 0px;
    background: #DCDCDC /*url(images/bg.jpg)*/ fixed center no-repeat;
    font:xx-small Verdana,Sans-serif;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
  }
  a img {border: 0}
  input,select {
    font: 24px/30px Georgia;
    color: #036;
    border: solid 0px;
    height: 30px;
    width: 200px;
  }
  select {width: 100%}

  /*label of the textfields*/
  .label {
    cursor: help;
    color: white;
    font: 18px/30px Arial;
    white-space: nowrap;
    margin-right: 20px;
  }
  
  #login { width:100%;margin-top: 50px;}
  h1 {color: #214B90; padding:0; margin:0 0 36px 0; font: 36px/48px Georgia, Serif; letter-spacing: -2px; font-style: italic;}
  fieldset {
    width: 400px;
    padding: 40px 20px 0 20px;
    background: #4E6FD6;
    border: 7px solid #9CAEE8;
    margin: 0 auto 0 auto;
  }
  #credits {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
  }
  #credits span {
    display: block;
  }
  
  .alert {margin: 36px auto 0 auto; border: 1px solid #17540B; background: #64D64E; padding: 18px; width: 300px; color: black;}
